.green {
    background-color: green !important;
}
.orange {
    background-color: orange !important;
}
.red {
    background-color: red !important;
}
body.dark-mode {
    background-color: #121212;
    color: white;
}
.navbar.dark-mode {
    background-color: #222 !important;
}
/* Domyślne style tabeli */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px; /* Normalny rozmiar czcionki */
}

@media screen and (max-width: 500px) {
    table {        
        width: 100%;
        font-size: 12px; /* Mniejsza czcionka na telefonach */
        margin: 0; /* Usunięcie marginesów */
    }

    /* Jeśli tabela jest wewnątrz div.container lub div.row */
    .container, .row {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .field_container, .confirm_buttons, .password-container{
        margin-left: 10px;
        padding-left: 10px;
    }
}

/* Styl dla ciemnego motywu */
body.dark-mode table {
    color: white; /* Zmiana koloru tekstu na biały */
}

/* Opcjonalnie: poprawa wyglądu nagłówków tabel */
body.dark-mode th {
    background-color: #333; /* Ciemniejsze tło nagłówków */
    color: white;
}

/* Opcjonalnie: poprawa wyglądu wierszy */
body.dark-mode tr:nth-child(even) {
    background-color: #222; /* Ciemniejsze tło dla parzystych wierszy */
}
body.dark-mode tr:nth-child(odd) {
    background-color: #2a2a2a; /* Trochę jaśniejsze tło dla nieparzystych */
}

.field_container {
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;    
    flex-direction: column;
    width: 400px;
    display: flex;
    flex-direction: column; /* Ustawienie labelki nad inputem */
    gap: 5px; /* Odstęp między labelką a inputem */
}

.confirm_buttons {
    position: relative;
    margin-left: 1%;
    
}

.password-container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column; /* Ustawienie labelki nad inputem */
    gap: 5px; /* Odstęp między labelką a inputem */
}
.password-container input {
    width: 100%;
    padding-right: 40px; /* Miejsce na ikonę */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top:70%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #777;
}
.toggle-password:hover {
    color: #333;
}
