{% extends "base.html" %}

<title>{% block title %}Zarządzaj Pojazdami{% endblock %}</title>

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Zarządzanie pojazdami</h1>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" tabindex="-1">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        <form method="POST" action="/add" class="mb-3">
            <div class="mb-3">
                <label for="nazwa_auta" class="form-label">Nazwa Auta</label>
                <input type="text" class="form-control" id="nazwa_auta" name="nazwa_auta" required>
            </div>
            <div class="mb-3">
                <label for="data_ubezpieczenia" class="form-label">Data Ubezpieczenia</label>
                <input type="date" class="form-control" id="data_ubezpieczenia" name="data_ubezpieczenia" required>
            </div>
            <div class="mb-3">
                <label for="data_przegladu" class="form-label">Data Przeglądu</label>
                <input type="date" class="form-control" id="data_przegladu" name="data_przegladu" required>
            </div>
            <div class="mb-3">
                <label for="data_wymiany_oleju" class="form-label">Data Wymiany Oleju</label>
                <input type="date" class="form-control" id="data_wymiany_oleju" name="data_wymiany_oleju" required>
            </div>
            <div class="mb-3">
                <label for="kilometry_wymiany_oleju" class="form-label">Kilometry Wymiany Oleju</label>
                <input type="number" class="form-control" id="kilometry_wymiany_oleju" name="kilometry_wymiany_oleju" required>
            </div>
            <div class="mb-3">
                <label for="aktualny_przebieg" class="form-label">Aktualny Przebieg</label>
                <input type="number" class="form-control" id="aktualny_przebieg" name="aktualny_przebieg" required>
            </div>
            <button type="submit" class="btn btn-success">Dodaj pojazd</button>
            <a href="/send_notification" class="btn btn-warning mb-3 mt-3">Wyślij maila</a>
            <a href="/" class="btn btn-secondary mb-3 mt-3">Powrót</a>
        </form>
        <h2>Istniejące pojazdy</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nazwa Auta</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                <tr>
                    <td>{{ car.nazwa_auta }}</td>
                    <td>
                        <a href="/edit/{{ car.id }}" class="btn btn-warning btn-sm">Edytuj</a>
                        <a href="/delete/{{ car.id }}" class="btn btn-danger btn-sm">Usuń</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}